<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ESL </title>
    <style>
        .word_split span:hover {
        font-weight:bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }
    </style>
</head>
<body style="background: lightskyblue">
<h1 style="text-align:center; padding-top: 30px;">COMPUTOLINGO </h1>
<div style="padding:30px;text-align: center;">
        <h2>If a Machine Can Understand You, Then a Human Can Too!</h2>
        <h2>如果一台机器可以理解你，人们也可以!</h2>
        <h2>Si una máquina puede entenderlo, ¡entonces un humano también puede entenderlo!</h2>
</div>
{% if hasInput == True %}
    <button type="button" name = "Play Correct Pronunciation" class="btn btn-primary">Start Speaking!</button>
    <h2 style="text-align:left; display: inline;">
            {{ userInput }}
    </h2>

{% endif %}
{% if hasInput == False %}
    <form style="margin: 5%" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Enter a sentence to practice!</label>
            <input type="text" class="form-control" name="userInput" aria-describedby="emailHelp" placeholder="Enter practice sentence">
        </div>
        <button type="submit" class="btn btn-primary">Start Speaking!</button>
    </form>
{% endif %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>