<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ESL </title>
    <style>
        .word_split span:hover {
        font-weight:bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }
        .wrong-Word:hover span{
        font-weight:bolder;
        }
    </style>
    <script>

            // Mouseover/ Click sound effect- by JavaScript Kit (www.javascriptkit.com)
            // Visit JavaScript Kit at http://www.javascriptkit.com/ for full source code
            
            //** Usage: Instantiate script by calling: var uniquevar=createsoundbite("soundfile1", "fallbackfile2", "fallebacksound3", etc)
            //** Call: uniquevar.playclip() to play sound
            
            var html5_audiotypes={ //define list of audio file extensions and their associated audio types. Add to it if your specified audio file isn't on this list:
                "mp3": "audio/mpeg",
                "mp4": "audio/mp4",
                "ogg": "audio/ogg",
                "wav": "audio/wav"
            }
            
            function createsoundbite(sound){
                var html5audio=document.createElement('audio')
                if (html5audio.canPlayType){ //check support for HTML5 audio
                    for (var i=0; i<arguments.length; i++){
                        var sourceel=document.createElement('source')
                        sourceel.setAttribute('src', arguments[i])
                        if (arguments[i].match(/\.(\w+)$/i))
                            sourceel.setAttribute('type', html5_audiotypes[RegExp.$1])
                        html5audio.appendChild(sourceel)
                    }
                    html5audio.load()
                    html5audio.playclip=function(){
                        html5audio.pause()
                        html5audio.currentTime=0
                        html5audio.play()
                    }
                    return html5audio
                }
                else{
                    return {playclip:function(){throw new Error("Your browser doesn't support HTML5 audio unfortunately")}}
                }
            }
            
            //Initialize two sound clips with 1 fallback file each:
            
            var wordPronunciation= new Audio("file:///Users/ameliameles/Desktop/Projects/HackMIT2019/pronunciation.wav")
        </script>
</head>
<body style="background: lightskyblue">
<h1 style="padding:30px;text-align:center">COMPUTOLINGO</h1>
<div style="padding:30px;text-align: center;">
        <h2>If a Machine Can Understand You, Then a Human Can Too!</h2>
        <h2>如果一台机器可以理解你，人们也可以!</h2>
        <h2>Si una máquina puede entenderlo, ¡entonces un humano también puede entenderlo!</h2>
</div>

<p>
    <h2 style="text-align:left; display: inline;font-weight: bold" >
        What we understood:
    </h2>
    {% for word in wrongText %}
        {% if word == wrongWord %}
            <h2 style = "text-align:left; display: inline; color: red;" data-toggle="tooltip" title="">
                {{word}}
            </h2>
        {% else %}
            <h2 style="text-align:left; display: inline;" >
                {{ word }}
            </h2>
        {% endif %}
    {% endfor %}
</p>
<p>
    <h2 style="text-align:left; display: inline;font-weight: bold;" >
        Your Sentence:
    </h2>
    {% for word in rightText %}
        {% if word == rightWord %}

            <h2 style = "text-align:left; display: inline; color: green;" data-toggle="tooltip" title="<img src={{wordImage}} alt=rightWord height='100' width='100'/>">
                <a href="#" style = "color: green" onclick="wordPronunciation.play()">{{word}}</a>
            </h2>
        {% else %}
            <h2 style="text-align:left; display: inline;" >
                {{ word }}
            </h2>
        {% endif %}
    {% endfor %}
</p>

<button type="button" name = "Try Again" class="btn btn-primary">Try New Sentence!</button>







<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script>$('[data-toggle="tooltip"]').tooltip({
    animated: 'fade',
    placement: 'top',
    html: true
});</script>
</body>
</html>